{% extends 'base.html'%}
{% block content %}


 <!-- Header-->
 <header class="bg-success py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-black mb-0">Welcome to our shop!!!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    A hollow blocks and sand and gravel business involves producing and supplying essential building materials for construction projects.
                <br/><br/>
                Hollow blocks, typically made from concrete or cement, are widely used in building walls, partitions, and other structures due to their strength and durability. Sand and gravel are essential ingredients in construction, used for mixing concrete, filling, and landscaping.
                <br/><br/>
                In this business, you'll manufacture hollow blocks using molds and equipment, ensuring quality and consistency. Additionally, you'll source, process, and supply sand and gravel to construction sites and contractors. Effective management of production, logistics, and customer relationships is key to success in this industry, supporting the growing demand for reliable building materials in construction projects.
                <br/><br/>
                <br/><br/>
                <br/><br/>
                Located at Purok Alang-alang, Brgy. Ipil, Surigao City, Surigao del Norte, Philippines,8400
                <br/>
                Call as @ 09979088823 -Herculano N. Ambid / 09758013438 - Elizabeth S. Ambid
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>


{% endblock%}